@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Slab:wght@200;300&family=Roboto:wght@300&family=Roboto:wght@700&display=swap");
.time {
    color: brown;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    display: grid;
    justify-items: center;
    padding: 30px;
}