@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Slab:wght@200;300&family=Roboto:wght@300&display=swap');
.espresso{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(186px,1fr)); */
    grid-template-columns: 1fr 1fr;
    padding: 30px 0px 30px 0px;
    justify-items: center;
}
@media (max-width: 800px) {
    .espresso {
        grid-template-columns: 1fr ;
                   
    }    
} 

.coffee-photo{
    border-radius:20px;
     width: 650px;
    height: 450px;
    background-image: url(../img/coffee-machine.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.Coffee-Beans{
    background-image: url(../img/women.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 650px;
    height: 450px;
}
    hr{
   height: 2px;
 width: 9%;
  background-color:red;
  margin: 0px 300px 0px 300px;
  
}
.espresso h1 span{
    color:red;
    font-size:55px;
    padding: 15px;

}
    
 .espresso h1{
color:black;
text-align: center;
margin:60px 0px 20px 0;
font-size: 55px;


}

.espresso h2 {
    color:gray; 
    text-align: center; 
    font-size: 25px;
    margin: 20px 0px 20px 0px;
}
h3{
    color:white;
    font-size: 65px;
    margin: 50px 0px 50px 40px;

}
h4{
    color:white;
    font-size:30px;
    word-spacing:10em;
    margin:  40px 0px 40px 40px;

}
.wort{
    color:white;
    font-size: 20px;
    margin-left:  40px;
    

}
.Coffee-Beans span {
    padding:15px;
    font-size:40px;
}



   