@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Slab:wght@200;300&family=Roboto:wght@300&display=swap');

.rent-box{
    display:grid;
    grid-template-columns: 1fr; 
    justify-items: center;
    
}
.rent-box p{
color:red;
font-size: 20px;
}
.rent-box h1{
color:black;
font-size:50px;

}
.rent-box h2{
color:grey;
font-size:35;
}