.part-shop>div .pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3em;
    justify-items: center;
}
.part-shop>div .text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3em;
    justify-items: center;

}
.part-shop img{
    width: 250px;
    height: 200px;
}
.numbers{
    color: red;
    font-size: 25px;
}
.sentense{
    color:blue;
    font-size: 25px;
}
.subtext{
    color:black;
    font-size: 25px;
}
.part-one h4{
    color:grey;
    font-size: 25px;
}
img {
    width: 500px;
    height: 400px;
}
h1{
    color:rgb(15, 15, 15);
    font-size: 60px;
}
p{
    color:red;
    font-size: 25px;
}
h2{
    color:rgb(100, 98, 98);
    font-size: 30px;
}
h3{
    color:black;
    font-size: 25px;
}
.picture{
    width: 30px;
    height: 30px;
}
.part-two img{
    width: 550px;
    height: 400px;
}
.none{
    color:red;
    font-size:60px;
}
h5{
    color: green;
    font-size: 60px;
}
h6{
    color:green;
    font-size:40px;
}
.wort{
    color:green;
    font-size: 20px;
}